@import './base.css';
@import "./colors.css";

:root {
    --primary: #D8BFAA;
    --primary-hover: #DDCDBB;
    --secondary: white;
}

.d-flex {
    display: flex;
}

.align-center {
    align-items: center;
    align-content: center;
}

.justify-center {
    justify-content: center;
    justify-items: center;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.text {
    font-size: 16px;
}